@charset "UTF-8";
.wrapper {
  background-color: #ffffff;
  margin: 1% auto;
  width: 75%;
  font-size: 0.9em;
  font-weight: bold; }

.wrapper-input-area {
  border: 1px solid #d4dadb;
  border-radius: 2px;
  padding: 3%;
  margin-bottom: 1.7%; }

.gap {
  padding-bottom: 7.9%; }

.captcha label {
  width: 12em;
  cursor: pointer;
  margin-bottom: 10px; }

.captcha .captcha-box {
  width: 5.7em;
  background-color: #FFFFFF;
  color: #58a538;
  padding: 4px;
  text-align: center;
  transform: rotate(180deg); }

.captcha .status {
  padding-bottom: 0.8em;
  padding-left: 0.45em; }

.captcha .information {
  color: #93a539;
  display: none;
  padding-left: 96px;
  font-size: 12px; }

.captcha input:focus ~ .information {
  display: block; }

.captcha input {
  position: relative;
  width: 44%;
  height: 5%;
  margin-bottom: 1%; }
  .captcha input ~ .status:after {
    position: absolute;
    content: ''; }

.captcha input:focus ~ .status::after,
.captcha input:focus:valid ~ .status::after,
.captcha input:focus:invalid ~ .status::after {
  content: ''; }

.captcha input:invalid ~ .status::after {
  content: url(http://htmlbook.ru/example/images/nook.png) " wrong number";
  color: #B11117; }

.wrapper-input {
  margin-bottom: 2.2%; }
  .wrapper-input label {
    width: 6.5em;
    cursor: pointer; }
  .wrapper-input input {
    position: relative;
    width: 44%;
    height: 5%; }
    .wrapper-input input ~ .status:after {
      position: absolute;
      content: ''; }
    .wrapper-input input ~ .status:before {
      position: absolute;
      content: ''; }
  .wrapper-input input:focus ~ .status::after,
  .wrapper-input input:focus:valid ~ .status::after,
  .wrapper-input input:focus:invalid ~ .status::after {
    content: ''; }
  .wrapper-input .information {
    color: #93a539;
    display: none;
    padding-left: 96px;
    font-size: 12px;
    padding-top: 5px; }
  .wrapper-input input:focus ~ .information {
    display: block; }
  .wrapper-input input:valid + .status::after {
    content: '✓';
    color: #4E9B5A; }
  .wrapper-input .status {
    padding-bottom: 0.8em;
    padding-left: 0.45em; }

.box-btn {
  background-color: #e3e3e3;
  border-radius: 4px;
  padding: 1% 0 1% 3%; }
  .box-btn .wrapper-btn {
    padding-left: 96px; }
    .box-btn .wrapper-btn button {
      border: none;
      border-top: 2px solid #008f00;
      font-size: 11px;
      color: #ffffff;
      border-radius: 25px;
      width: 153px;
      height: 20px;
      background: linear-gradient(to right, #008f00 0%, #00e400 15%, #00e400 85%, #008f00 100%);
      position: relative;
      z-index: 1; }
    .box-btn .wrapper-btn button:after {
      position: absolute;
      content: '';
      width: 147px;
      height: 9px;
      -webkit-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
      -moz-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
      -o-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
      background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
      border-radius: 25px;
      top: -1px;
      left: 3px;
      z-index: -1; }
    .box-btn .wrapper-btn button:before {
      position: absolute;
      content: '';
      width: 147px;
      height: 9px;
      background: linear-gradient(to bottom, #23b023 0%, rgba(35, 176, 35, 0.99) 1%, rgba(35, 176, 35, 0.79) 17%, rgba(35, 176, 35, 0) 82%);
      border-radius: 25px;
      top: -1px;
      left: 3px;
      z-index: -1; }

input, span, label, img {
  display: inline-block; }
